{% extends 'common/base.html' %}
{% load placeholder_filter %}

{% block content %}
    
<div class="login-register-div">
    <div class="login-register-box">
        <h1>Petstagram</h1>

        <form method="post">
            {% csrf_token %}
            
            {{ form.username|add_placeholder:'Email' }}
            {{ form.username.errors }}

            {{ form.password|add_placeholder:'Password' }}
            {{ form.password.errors }}
            
            <button type="submit">Log in</button>
        </form>

    </div>
    <div class="second-option">

        <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    </div>
</div>
    
{% endblock %}
