{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    
<div class="profile">
<div class="profile-data">
  <div class="profile_img">
  
    <div class="image">
        {% if user.profile.profile_picture %}
            <img src="{{ user.profile.profile_picture }}" alt="img8" />
        {% else %}
            <img src="{% static 'images/person.png' %}" alt="img8" />
        {% endif %}
    </div>
  
  </div>
  <div class="personal">
    <div class="edit">
      <p>{{ user.profile.get_full_name }}</p>

      {% if request.user.pk == user.pk %}
          <a href="{% url 'profile-edit' pk=request.user.pk %}">
            <img
              class="edit-img"
              src="{%  static 'images/edit-pen-icon-6.jpg' %}"
              alt="edit button"
            />
          </a>
    
          <a href="">
            <img
              class="bin-img"
              src="{% static "images/icon-remove-22.jpg" %}"
              alt="bin button"
            />
          </a>
      {% endif %}
    </div>
    <div class="data">
      <span>{{ user.photos.count }}</span>
      <p>photos</p>

      <span>{{ user.pets.count }}</span>
      <p>pets</p>

      <span>{{ total_likes }}</span>
      <p>likes</p>
    </div>
  
    {% if user.profile.first_name and user.profile.last_name %}
        <h3 class="names">{{ user.profile.get_full_name }}</h3>
    {% endif %}
  
    <p class="email">{{ user.email }}</p>
    </div>
</div>  

<div class="pets">
  <div class="statuses">
  {% for pet in pets %}
    <a href="{% url 'pet-details' user.profile.get_full_name pet.slug %}">
        <div class="head-pet">
            <div class="status">
              <div class="image">
                <img
                  src="{{ pet.personal_photo }}"
                  alt="pet img"
                />
              </div>
            </div>
            <p>{{ pet.name }}</p>
        </div>
    </a>
  {% endfor %}
  </div>
</div>
    

<div class="pet-photos">
{% if user.photos.exists %}
    {% for photo in user.photos.all %}
      <a href="{% url 'photo-details' photo.pk %}">
        <img
          src="{{ photo.photo.url }}"
          alt="pet img"
        />
      </a>
    {% endfor %}
{% else %}
    <img
      class="no-posts"
      src="{% static "images/no_posts.png" %}"
      alt="no posts"
    />
    {% endif %}    
</div>
</div>
    
{% endblock %}
