{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    
<div class="profile">
<div class="profile-data">
  <div class="profile_img">
    <div class="image">
      <img src="{{ user.profile.profile_picture }}" alt="img8" />
    </div>
  </div>
  <div class="personal">
    <div class="edit">
      <p>{{ user.profile.get_full_name }}</p>

      {% if request.user.pk == user.pk %}
          <a href="{% url 'profile-edit' pk=request.user.pk %}">
            <img
              class="edit-img"
              src="/static/images/edit-pen-icon-6.jpg"
              alt="edit button"
            />
          </a>
    
          <a href="">
            <img
              class="bin-img"
              src="/static/images/icon-remove-22.jpg"
              alt="bin button"
            />
          </a>
      {% endif %}
    </div>
    <div class="data">
      <span>{{ user.photos.count }}</span>
      <p>photos</p>

      <span>{{ user.pets.count }}</span>
      <p>pets</p>

      <span>{{ total_likes }}</span>
      <p>likes</p>
    </div>
  
    {% if user.profile.first_name and user.profile.last_name %}
        <h3 class="names">{{ user.profile.get_full_name }}</h3>
    {% endif %}
    <p class="email">{{ user.email }}</p>
    </div>
</div>  

<div class="pets">
  <div class="statuses">
  {% for pet in user.pets.all %}
    <a href="">
        <div class="head-pet">
            <div class="status">
              <div class="image">
                <img
                  src="{{ pet.personal_image }}"
                  alt="pet img"
                />
              </div>
            </div>
            <p>{{ pet.name }}</p>
        </div>
    </a>
    {% endfor %}
<!-- Start Last Uploaded Photos Section -->
<div class="pet-photos">
  <!-- Link to Last Uploaded Pet Photo -->
  <a href="#">
    <!-- Pet Photo -->
    <img
      src="https://i.natgeofe.com/n/de94c416-6d23-45f5-9708-e8d56289268e/naturepl_01132178.jpg?w=636&h=631"
      alt="pet img"
    />
  </a>

  <!-- Link to Uploaded Pet Photo -->
  <a href="#">
    <!-- Pet Photo -->
    <img
      src="https://cf.ltkcdn.net/small-pets/images/orig/278587-1600x1066-goldfish-swimming-in-fish-tank.jpg"
      alt="pet img"
    />
  </a>

  <!-- Link to Uploaded Pet Photo -->
  <a href="#">
    <!-- Pet Photo -->
    <img
      src="https://thumbs.dreamstime.com/b/small-golden-retriever-puppy-6482030.jpg"
      alt="pet img"
    />
  </a>

  <!-- Link to  Uploaded Pet Photo -->
  <a href="#">
    <!-- Pet Photo -->
    <img
      src="https://i.pinimg.com/originals/4e/55/83/4e5583748bc4000805df50e4ebcafffc.png"
      alt="pet img"
    />
  </a>
</div>
<!-- End Last Uploaded Photos Section -->

<!-- IF NO Posts Show No Post Image -->

<img
  class="no-posts"
  src="/static/images/no_posts.png"
  alt="no posts"
/>
</div>

{% endblock %}
