{% extends 'common/base.html' %}
{% block content %}

<div class="pet-profile">
    <div class="profile">
        <div class="profile-data">
            <div class="profile_img">
                <div class="image">
                    <img src="{{ pet.personal_photo }}"
                         alt="img8">
                </div>
            </div>
            
            <div class="personal">
                <div class="edit">
                    <p>{{ pet.name }}</p>
                    
                    {% if request.user.pk == pet.user.pk %}
                        <a href="{% url 'pet-edit' pet.user.profile.get_full_name pet.slug %}">
                            <img class="edit-img" src="/static/images/edit-pen-icon-6.jpg" alt="edit button">
                        </a>
    
                        <a href="{% url 'pet-delete' pet.user.profile.get_full_name pet.slug %}">
                            <img class="bin-img" src="/static/images/icon-remove-22.jpg" alt="bin button">
                        </a>
                    {% endif %}
                </div>
                <div class="data">
                    <span>{{ pet.photo_set.count }}</span>
                    <p>photos</p>
                </div>
            </div>
        </div>
    </div>

    <div class="pet-posts">
        {% if pet.photo_set %}
            {% for photo in photos %}
                {% include 'common/pet-post.html' %}
            {% endfor %}
        {% else %}
            <img class="no-posts" src="/static/images/no_posts.png" alt="no posts image">
        {% endif %}
    </div>
</div>
    
{% endblock %}